{% extends "base_slider.html" %}
{% load custom_tags %}

{% block content %}

    <div id="feeds" class="post-container">
        {% comment %} 전달된 Post 순회 {% endcomment %}
        {% for post in  posts%}
            
            {% url "posts:feeds" as action_redirect_to %}

            {% comment %} 다음으로 이동할 url 전달 {% endcomment %}
            {% include "posts/post.html" with action_redirect_url=action_redirect_to|concat:"#post-"|concat:post.id %}

        {% endfor %}

    </div>

{% endblock %}


