{% extends "base.html" %}

{% block content %}

<nav>
    <h1>
        <a href="{% url "posts:feeds" %}">Pystagram</a>
    </h1>
    {% comment %} 글 등록 버튼 {% endcomment %}
    <a href="{% url "posts:post_add" %}" style="text-align: right;">Add Post</a><br>
    {% comment %} 로그아웃 버튼 {% endcomment %}
    <a href="{% url "users:logout" %}" style="text-align: right;">Logout</a>
</nav>
<hr><br>

<div id="tags">
    <header class="tags-header">
        <h2>#{{ tag_name }}</h2>
        <div>게시물 {{ posts.count }}</div>
    </header>

    <div class="post-grid-container">
        {% for post in posts %}
            {% if post.postimage_set.first and post.postimage_set.first.photo %}
                <div class="post-grid">
                    <img src="{{ post.postimage_set.first.photo.url }}" alt="">
                </div>
            {% else %}
                <div class="post-grid">{{ post.content }}</div>
            {% endif %}

        {% empty %}
            <p>검색된 게시물이 없습니다.</p>

        {% endfor %}
    </div>
</div>

{% endblock %}
